/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self
 */
#nav_bar {
  background: linear-gradient(90deg, rgba(128,128,128) 0%, rgba(245,245,245) 35%, rgba(128,128,128) 100%);
}
 #site-nav {
     top: 0px;
     margin: 0 auto;
     font-weight: bold;
     font-size: 20px;
     background-color: lightgreen !important;
     padding: 0px;
     position: fixed;
     width: 100%;
     text-align: center;
     height: 50px;
     display: block;
     color: black;
     /* border-bottom: solid 10px; */
 }

 #home-page {
   text-align: center;
   background: linear-gradient(180deg, rgba(255,255,255), rgba(128,128,128), rgba(255,255,255));
 }

 #valid {
   text-color: red;
 }

 #logo_pic{
   height: 180px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 
