

<h2>Shows</h2>
<ul>
<% @shows.each do |show| %>
  <%= link_to show.name.capitalize, show_path(show.id) %>
  <li>Band: <%= show.band.name %></li>
  <li>Venue: <%= show.venue.name %></li>
  <li>Tickets Sold: <%= show.tickets.count %></li>
</br></br>
<% end %>
</ul>
